/*General Default Desktop*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    user-select: none;
    overflow:hidden;
  }
  .showcase{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    color: black;
    z-index: 99;
    background: black;
    transition: right 0.5s ease;
  }
  .showcase.active {
   right:300px;
   background: black;
  }
  .showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: grey;
    color: black;
    z-index: 99;
  }
  .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/3bars.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
    transition: right 0.5s ease;
    z-index: 99;
  }
  .toggle.active{
    background: url('../images/cancel.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
  }
  .menu {
    opacity: 0;
}
  .menu.active {
    position: absolute;
    display: block;
    top:0;
    right:0;
    width: 300px;
    height: 100%;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border-left: 3px solid transparent;
    opacity: 1;
    transition: opacity .2s linear;
}  
.menu ul{
  position: relative;
  list-style: none;
  top: 30%;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding-left: 110px;
    font-weight: 500;
    padding-top: 10px;  
    padding-bottom: 10px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.menu ul li a:hover {
    text-decoration: none;
    font-size: 24px;
    color: red;
    border-left-color: cyan;
    border-right-color: cyan;
    background-color: rgba(0, 0, 0, 0.1);
}

.slideshow-container {
    max-width: 1000%;
    position: relative;
    margin: auto;
    top: 0px;
  }
.img1 {
    padding:90px;
    width: 100px;
    height: 900px;
    object-fit: contain;
    vertical-align: middle;
}
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 400px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: blue;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity:50%;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Title */
  .text {
    color: cyan;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 850px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px red;
  }
  
  /* Number text (1/8 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } 